PORT=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=
JWT_EXPIRES_IN=

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=

NODE_ENV=

REDIS_HOST=
REDIS_PORT=

UPLOAD_MAX_SIZE_MB=5